@import '../../components/GlobalStyles/GlobalStyles.scss';

header {
    background-color: $main-color;
    a {
        top: 2px;
    }
    .add-box {
        width: 60%;
        input {
            width: 30%;
            padding: 0 20px 0 20px;
        }
        .start-time-box,
        .end-time-box {
            max-width: 310px;
            input {
                width: 100%;
                height: 100%;
                color: $third-color;
            }
        }
        .addBtn {
            width: 100px;
            color: $bg-content;
            background: $third-color;
            &:hover {
                color: $main-color;
                background: $second-color;
            }
        }
        &::after {
            content: "";
            display: table;
            clear: both;
        }
    }
}