@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Fleur+De+Leah&family=Inter:wght@300&family=Mansalva&family=Mystery+Quest&family=Poppins&family=Roboto:wght@500&display=swap");
:root {
  --main-color: #09CBD0;
  --second-color: #0e1538;
  --bg-content: #F7F8FA;
  --third-color: #068995 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  max-height: 100dvh;
  overflow: hidden;
  user-select: none;
  font-family: "Inter";
  background-image: url(https://c4.wallpaperflare.com/wallpaper/118/216/2/mountains-trees-moon-landscape-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.bg-current {
  background-color: var(--main-color);
}

.container header #clock-img {
  margin-right: -10%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container header .add-box {
  width: 40%;
}
.container header .add-box input {
  width: 100%;
  padding: 0 20px 0 20px;
}
.container header .add-box input:focus {
  outline: none;
}
.container header .add-box .addBtn {
  width: 100px;
  color: #fff;
  background: var(--third-color);
}
.container header .add-box .addBtn:hover {
  color: var(--main-color);
  background: var(--second-color);
}
.container header .add-box::after {
  content: "";
  display: table;
  clear: both;
}
.container header .time-box .clock-time-box {
  width: 100px;
}
.container .content-container {
  background: none;
  height: 100dvh;
  overflow-y: auto;
}
.container .content-container .done-wrapper,
.container .content-container .to-do-wrapper,
.container .content-container .doing-wrapper {
  border-color: var(--main-color);
}
.container .content-container .done-wrapper span,
.container .content-container .to-do-wrapper span,
.container .content-container .doing-wrapper span {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: var(--main-color);
  overflow: hidden;
}
.container .content-container .done-wrapper span i,
.container .content-container .done-wrapper span .title,
.container .content-container .to-do-wrapper span i,
.container .content-container .to-do-wrapper span .title,
.container .content-container .doing-wrapper span i,
.container .content-container .doing-wrapper span .title {
  z-index: 2;
}
.container .content-container .done-wrapper span::before,
.container .content-container .to-do-wrapper span::before,
.container .content-container .doing-wrapper span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
}
.container .content-container .done-wrapper span::after,
.container .content-container .to-do-wrapper span::after,
.container .content-container .doing-wrapper span::after {
  content: "";
  position: absolute;
  background: #0e1538;
  inset: 2px;
  border-radius: 15px;
}
.container .content-container .done-wrapper span:hover::before,
.container .content-container .to-do-wrapper span:hover::before,
.container .content-container .doing-wrapper span:hover::before {
  background: var(--main-color);
  animation: hoverTitle 5s linear infinite;
}
.container .content-container .done-wrapper ul.items-done-list,
.container .content-container .done-wrapper ul.items-to-do-list,
.container .content-container .done-wrapper ul.items-doing-list,
.container .content-container .to-do-wrapper ul.items-done-list,
.container .content-container .to-do-wrapper ul.items-to-do-list,
.container .content-container .to-do-wrapper ul.items-doing-list,
.container .content-container .doing-wrapper ul.items-done-list,
.container .content-container .doing-wrapper ul.items-to-do-list,
.container .content-container .doing-wrapper ul.items-doing-list {
  padding: 30px 0 30px 0;
  gap: 30px;
}
.container .content-container .done-wrapper ul.items-done-list li.item-to-do,
.container .content-container .done-wrapper ul.items-to-do-list li.item-to-do,
.container .content-container .done-wrapper ul.items-doing-list li.item-to-do,
.container .content-container .to-do-wrapper ul.items-done-list li.item-to-do,
.container .content-container .to-do-wrapper ul.items-to-do-list li.item-to-do,
.container .content-container .to-do-wrapper ul.items-doing-list li.item-to-do,
.container .content-container .doing-wrapper ul.items-done-list li.item-to-do,
.container .content-container .doing-wrapper ul.items-to-do-list li.item-to-do,
.container .content-container .doing-wrapper ul.items-doing-list li.item-to-do {
  height: 150px;
  font-weight: 700;
  line-height: 20px;
  box-shadow: 0 2px 15px 5px var(--third-color);
}
.container .content-container .done-wrapper ul.items-done-list li.item-to-do .due-date,
.container .content-container .done-wrapper ul.items-to-do-list li.item-to-do .due-date,
.container .content-container .done-wrapper ul.items-doing-list li.item-to-do .due-date,
.container .content-container .to-do-wrapper ul.items-done-list li.item-to-do .due-date,
.container .content-container .to-do-wrapper ul.items-to-do-list li.item-to-do .due-date,
.container .content-container .to-do-wrapper ul.items-doing-list li.item-to-do .due-date,
.container .content-container .doing-wrapper ul.items-done-list li.item-to-do .due-date,
.container .content-container .doing-wrapper ul.items-to-do-list li.item-to-do .due-date,
.container .content-container .doing-wrapper ul.items-doing-list li.item-to-do .due-date {
  color: var(--third-color);
}
.container .content-container .done-wrapper ul.items-done-list .item-details,
.container .content-container .done-wrapper ul.items-to-do-list .item-details,
.container .content-container .done-wrapper ul.items-doing-list .item-details,
.container .content-container .to-do-wrapper ul.items-done-list .item-details,
.container .content-container .to-do-wrapper ul.items-to-do-list .item-details,
.container .content-container .to-do-wrapper ul.items-doing-list .item-details,
.container .content-container .doing-wrapper ul.items-done-list .item-details,
.container .content-container .doing-wrapper ul.items-to-do-list .item-details,
.container .content-container .doing-wrapper ul.items-doing-list .item-details {
  width: 90%;
  overflow-wrap: break-word;
  text-align: justify;
}
.container .content-container .done-wrapper ul.items-done-list .fa-trash,
.container .content-container .done-wrapper ul.items-done-list .fa-pen,
.container .content-container .done-wrapper ul.items-to-do-list .fa-trash,
.container .content-container .done-wrapper ul.items-to-do-list .fa-pen,
.container .content-container .done-wrapper ul.items-doing-list .fa-trash,
.container .content-container .done-wrapper ul.items-doing-list .fa-pen,
.container .content-container .to-do-wrapper ul.items-done-list .fa-trash,
.container .content-container .to-do-wrapper ul.items-done-list .fa-pen,
.container .content-container .to-do-wrapper ul.items-to-do-list .fa-trash,
.container .content-container .to-do-wrapper ul.items-to-do-list .fa-pen,
.container .content-container .to-do-wrapper ul.items-doing-list .fa-trash,
.container .content-container .to-do-wrapper ul.items-doing-list .fa-pen,
.container .content-container .doing-wrapper ul.items-done-list .fa-trash,
.container .content-container .doing-wrapper ul.items-done-list .fa-pen,
.container .content-container .doing-wrapper ul.items-to-do-list .fa-trash,
.container .content-container .doing-wrapper ul.items-to-do-list .fa-pen,
.container .content-container .doing-wrapper ul.items-doing-list .fa-trash,
.container .content-container .doing-wrapper ul.items-doing-list .fa-pen {
  color: var(--third-color);
}
.container .content-container .done-wrapper ul.items-done-list .fa-trash:hover,
.container .content-container .done-wrapper ul.items-done-list .fa-pen:hover,
.container .content-container .done-wrapper ul.items-to-do-list .fa-trash:hover,
.container .content-container .done-wrapper ul.items-to-do-list .fa-pen:hover,
.container .content-container .done-wrapper ul.items-doing-list .fa-trash:hover,
.container .content-container .done-wrapper ul.items-doing-list .fa-pen:hover,
.container .content-container .to-do-wrapper ul.items-done-list .fa-trash:hover,
.container .content-container .to-do-wrapper ul.items-done-list .fa-pen:hover,
.container .content-container .to-do-wrapper ul.items-to-do-list .fa-trash:hover,
.container .content-container .to-do-wrapper ul.items-to-do-list .fa-pen:hover,
.container .content-container .to-do-wrapper ul.items-doing-list .fa-trash:hover,
.container .content-container .to-do-wrapper ul.items-doing-list .fa-pen:hover,
.container .content-container .doing-wrapper ul.items-done-list .fa-trash:hover,
.container .content-container .doing-wrapper ul.items-done-list .fa-pen:hover,
.container .content-container .doing-wrapper ul.items-to-do-list .fa-trash:hover,
.container .content-container .doing-wrapper ul.items-to-do-list .fa-pen:hover,
.container .content-container .doing-wrapper ul.items-doing-list .fa-trash:hover,
.container .content-container .doing-wrapper ul.items-doing-list .fa-pen:hover {
  color: var(--main-color);
  cursor: pointer;
}

@keyframes hoverTitle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.css-checkbox + label {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 22px;
  color: rgb(0, 0, 0);
}

.css-checkbox + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  background-color: var(--third-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--third-color);
  border-radius: 2px;
  box-shadow: none;
}

.css-checkbox:checked + label::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBmaWxsPSIjZmZmZmZmIiBkPSJNMTczLjg5OCA0MzkuNDA0bC0xNjYuNC0xNjYuNGMtOS45OTctOS45OTctOS45OTctMjYuMjA2IDAtMzYuMjA0bDM2LjIwMy0zNi4yMDRjOS45OTctOS45OTggMjYuMjA3LTkuOTk4IDM2LjIwNCAwTDE5MiAzMTIuNjkgNDMyLjA5NSA3Mi41OTZjOS45OTctOS45OTcgMjYuMjA3LTkuOTk3IDM2LjIwNCAwbDM2LjIwMyAzNi4yMDRjOS45OTcgOS45OTcgOS45OTcgMjYuMjA2IDAgMzYuMjA0bC0yOTQuNCAyOTQuNDAxYy05Ljk5OCA5Ljk5Ny0yNi4yMDcgOS45OTctMzYuMjA0LS4wMDF6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  left: 0px;
  top: 0px;
  text-align: center;
  background-color: transparent;
  font-size: 10px;
  height: 22px;
  width: 22px;
}/*# sourceMappingURL=style.css.map */