* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  min-height: 100dvh;
  overflow: hidden;
  font-size: 16px;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100dvh;
  background: linear-gradient(35deg, purple, rgb(103, 16, 202), cyan);
}
.container .wrapper {
  z-index: 2;
  width: 40%;
  border-width: 1px;
}
.container .wrapper__box__search-box .fa-location-dot {
  transition: top 0.5s ease;
}
.container .wrapper__box__search-box .animateLocation {
  animation: animatedLocation linear 1s infinite;
}
.container .wrapper__box__search-box select#place {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center/1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(255, 255, 255, 0.2) 3em);
  color: white;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.container .wrapper__box__search-box select#place::-ms-expand {
  display: none;
}
.container .wrapper__box__search-box select#place:focus {
  outline: none;
}
.container .wrapper__box__search-box select#place option {
  color: black;
  background-color: white;
}
.container .gradient-bg {
  z-index: -1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, rgb(108, 0, 162), rgb(0, 17, 82));
  width: 60%;
}
.container .gradient-bg svg {
  display: none;
}
.container .gradient-bg .gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}
.container .gradient-bg .g1 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(18, 113, 255, 0.8) 0, rgba(18, 113, 255, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
  opacity: 1;
}
.container .gradient-bg .g2 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(221, 74, 255, 0.8) 0, rgba(221, 74, 255, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
  opacity: 1;
}
.container .gradient-bg .g3 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(100, 220, 255, 0.8) 0, rgba(100, 220, 255, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: calc(10% + 200px);
  left: calc(10% - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
  opacity: 1;
}
.container .gradient-bg .g4 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(200, 50, 50, 0.8) 0, rgba(200, 50, 50, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}
.container .gradient-bg .g5 {
  position: absolute;
  background: radial-gradient(circle at center, rgba(180, 180, 50, 0.8) 0, rgba(180, 180, 50, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 160%;
  height: 160%;
  top: -30%;
  left: -30%;
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s ease infinite;
  opacity: 1;
}
.container .gradient-bg .interactive {
  position: absolute;
  background: radial-gradient(circle at center, rgba(140, 100, 255, 0.8) 0, rgba(140, 100, 255, 0) 50%) no-repeat;
  mix-blend-mode: hard-light;
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
@keyframes animatedLocation {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -20px;
  }
  50% {
    margin-top: 0px;
  }
  75% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}/*# sourceMappingURL=style.css.map */