:root {
   --breakpoint-xs: 0;
   --breakpoint-sm: 576px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 992px;
   --breakpoint-xl: 1200px;
   --breakpoint-xxl: 1400px; }
 
 .grid {
   --col-gutter-x: 4px;
   --col-sm-gutter-x: 8px;
   --col-md-gutter-x: 12px;
   --col-lg-gutter-x: 16px;
   --col-xl-gutter-x: 20px;
   --col-xxl-gutter-x: 24px;
   --col-gutter-y: 0;
   --col-sm-gutter-y: 0;
   --col-md-gutter-y: 0;
   --col-lg-gutter-y: 0;
   --col-xl-gutter-y: 0;
   --col-xxl-gutter-y: 0;
   width: 100%;
   display: block; }
 
 .grid.wide {
   margin: 0 auto; }
 
 @media (min-width: 576px) {
   .grid.wide,
   .grid-sm.wide {
     max-width: 540px; } }
 
 @media (min-width: 768px) {
   .grid.wide,
   .grid-md.wide,
   .grid-sm.wide {
     max-width: 720px; } }
 
 @media (min-width: 992px) {
   .grid.wide,
   .grid-lg.wide,
   .grid-md.wide,
   .grid-sm.wide {
     max-width: 960px; } }
 
 @media (min-width: 1200px) {
   .grid.wide,
   .grid-lg.wide,
   .grid-md.wide,
   .grid-sm.wide,
   .grid-xl.wide {
     max-width: 1140px; } }
 
 @media (min-width: 1400px) {
   .grid.wide,
   .grid-lg.wide,
   .grid-md.wide,
   .grid-sm.wide,
   .grid-xl.wide,
   .grid-xxl.wide {
     max-width: 1320px; } }
 
 .row {
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--col-gutter-y));
   margin-right: calc(-0.5 * var(--col-gutter-x));
   margin-left: calc(-0.5 * var(--col-gutter-x)); }
 
 .row.no-stretch {
   margin-left: 0;
   margin-right: 0; }
 
 .row.all-no-stretch {
   margin-left: 0;
   margin-right: 0; }
 
 .row > * {
   display: block;
   flex-shrink: 0;
   width: 100%;
   max-width: 100%; }
 
 .col,
 .col-1,
 .col-1-09,
 .col-1-2,
 .col-1-3,
 .col-1-5,
 .col-1-7,
 .col-2,
 .col-2-4,
 .col-3,
 .col-4,
 .col-5,
 .col-6,
 .col-7,
 .col-8,
 .col-9,
 .col-10,
 .col-11,
 .col-12,
 .col-auto {
   margin-top: var(--col-gutter-y);
   padding-left: calc(var(--col-gutter-x) * 0.5);
   padding-right: calc(var(--col-gutter-x) * 0.5); }
 
 .col {
   flex: 1 0 0%; }
 
 .row-cols-auto > * {
   flex: 0 0 auto;
   width: auto; }
 
 .row-cols-1 > * {
   flex: 0 0 auto;
   width: 100%; }
 
 .row-cols-2 > * {
   flex: 0 0 auto;
   width: 50%; }
 
 .row-cols-3 > * {
   flex: 0 0 auto;
   width: 33.3333333333%; }
 
 .row-cols-4 > * {
   flex: 0 0 auto;
   width: 25%; }
 
 .row-cols-5 > * {
   flex: 0 0 auto;
   width: 20%; }
 
 .row-cols-6 > * {
   flex: 0 0 auto;
   width: 16.6666666667%; }
 
 .row-cols-7 > * {
   flex: 0 0 auto;
   width: calc(100% / 7); }
 
 .row-cols-8 > * {
   flex: 0 0 auto;
   width: calc(100% / 8); }
 
 .row-cols-9 > * {
   flex: 0 0 auto;
   width: calc(100% / 9); }
 
 .row-cols-10 > * {
   flex: 0 0 auto;
   width: calc(100% / 10); }
 
 .row-cols-11 > * {
   flex: 0 0 auto;
   width: calc(100% / 11); }
 
 .row-cols-12 > * {
   flex: 0 0 auto;
   width: calc(100% / 12); }
 
 .col-auto {
   flex: 0 0 auto;
   width: auto; }
 
 .col-1 {
   flex: 0 0 auto;
   width: 8.33333333%; }
 
 .col-1-09 {
   flex: 0 0 calc(100% / 11);
   width: calc(100% / 11); }
 
 .col-1-2 {
   flex: 0 0 calc(100% / 10);
   width: calc(100% / 10); }
 
 .col-1-3 {
   flex: 0 0 calc(100% / 9);
   width: calc(100% / 9); }
 
 .col-1-5 {
   flex: 0 0 calc(100% / 8);
   width: calc(100% / 8); }
 
 .col-1-7 {
   flex: 0 0 calc(100% / 7);
   width: calc(100% / 7); }
 
 .col-2 {
   flex: 0 0 16.666667%;
   width: 16.666667%; }
 
 .col-2-4 {
   flex: 0 0 20%;
   width: 20%; }
 
 .col-3 {
   flex: 0 0 auto;
   width: 25%; }
 
 .col-4 {
   flex: 0 0 auto;
   width: 33.33333333%; }
 
 .col-5 {
   flex: 0 0 auto;
   width: 41.66666667%; }
 
 .col-6 {
   flex: 0 0 auto;
   width: 50%; }
 
 .col-7 {
   flex: 0 0 auto;
   width: 58.33333333%; }
 
 .col-8 {
   flex: 0 0 auto;
   width: 66.66666667%; }
 
 .col-9 {
   flex: 0 0 auto;
   width: 75%; }
 
 .col-10 {
   flex: 0 0 auto;
   width: 83.33333333%; }
 
 .col-11 {
   flex: 0 0 auto;
   width: 91.66666667%; }
 
 .col-12 {
   flex: 0 0 auto;
   width: 100%; }
 
 .order-first {
   order: -1; }
 
 .order-last {
   order: 13; }
 
 .order-0 {
   order: 0; }
 
 .order-1 {
   order: 1; }
 
 .order-2 {
   order: 2; }
 
 .order-3 {
   order: 3; }
 
 .order-4 {
   order: 4; }
 
 .order-5 {
   order: 5; }
 
 .order-6 {
   order: 6; }
 
 .order-7 {
   order: 7; }
 
 .order-8 {
   order: 8; }
 
 .order-9 {
   order: 9; }
 
 .order-10 {
   order: 10; }
 
 .order-11 {
   order: 11; }
 
 .order-12 {
   order: 12; }
 
 /* 12 col */
 .offset-1 {
   margin-left: 8.333333%; }
 
 .offset-2 {
   margin-left: 16.666667%; }
 
 .offset-3 {
   margin-left: 25%; }
 
 .offset-4 {
   margin-left: 33.333333%; }
 
 .offset-5 {
   margin-left: 41.666667%; }
 
 .offset-6 {
   margin-left: 50%; }
 
 .offset-7 {
   margin-left: 58.333333%; }
 
 .offset-8 {
   margin-left: 66.666667%; }
 
 .offset-9 {
   margin-left: 75%; }
 
 .offset-10 {
   margin-left: 83.333333%; }
 
 .offset-11 {
   margin-left: 91.666667%; }
 
 /* 12 col end */
 /* 11 col */
 .offset-11-1 {
   margin-left: calc(1 / 11 * 100%); }
 
 .offset-11-2 {
   margin-left: calc(2 / 11 * 100%); }
 
 .offset-11-3 {
   margin-left: calc(3 / 11 * 100%); }
 
 .offset-11-4 {
   margin-left: calc(4 / 11 * 100%); }
 
 .offset-11-5 {
   margin-left: calc(5 / 11 * 100%); }
 
 .offset-11-6 {
   margin-left: calc(6 / 11 * 100%); }
 
 .offset-11-7 {
   margin-left: calc(7 / 11 * 100%); }
 
 .offset-11-8 {
   margin-left: calc(8 / 11 * 100%); }
 
 .offset-11-9 {
   margin-left: calc(9 / 11 * 100%); }
 
 .offset-11-10 {
   margin-left: calc(10 / 11 * 100%); }
 
 /* 11 col end */
 /* 10 col */
 .offset-10-1 {
   margin-left: 10%; }
 
 .offset-10-2 {
   margin-left: 20%; }
 
 .offset-10-3 {
   margin-left: 30%; }
 
 .offset-10-4 {
   margin-left: 40%; }
 
 .offset-10-5 {
   margin-left: 50%; }
 
 .offset-10-6 {
   margin-left: 60%; }
 
 .offset-10-7 {
   margin-left: 70%; }
 
 .offset-10-8 {
   margin-left: 80%; }
 
 .offset-10-9 {
   margin-left: 90%; }
 
 /* 10 col end */
 /* 9 col */
 .offset-9-1 {
   margin-left: calc(1 / 9 * 100%); }
 
 .offset-9-2 {
   margin-left: calc(2 / 9 * 100%); }
 
 .offset-9-3 {
   margin-left: calc(3 / 9 * 100%); }
 
 .offset-9-4 {
   margin-left: calc(4 / 9 * 100%); }
 
 .offset-9-5 {
   margin-left: calc(5 / 9 * 100%); }
 
 .offset-9-6 {
   margin-left: calc(6 / 9 * 100%); }
 
 .offset-9-7 {
   margin-left: calc(7 / 9 * 100%); }
 
 .offset-9-8 {
   margin-left: calc(8 / 9 * 100%); }
 
 /* 9 col end */
 /* 8 col */
 .offset-8-1 {
   margin-left: calc(1 / 8 * 100%); }
 
 .offset-8-2 {
   margin-left: calc(2 / 8 * 100%); }
 
 .offset-8-3 {
   margin-left: calc(3 / 8 * 100%); }
 
 .offset-8-4 {
   margin-left: calc(4 / 8 * 100%); }
 
 .offset-8-5 {
   margin-left: calc(5 / 8 * 100%); }
 
 .offset-8-6 {
   margin-left: calc(6 / 8 * 100%); }
 
 .offset-8-7 {
   margin-left: calc(7 / 8 * 100%); }
 
 /* 8 col end */
 /* 7 col */
 .offset-7-1 {
   margin-left: calc(1 / 7 * 100%); }
 
 .offset-7-2 {
   margin-left: calc(2 / 7 * 100%); }
 
 .offset-7-3 {
   margin-left: calc(3 / 7 * 100%); }
 
 .offset-7-4 {
   margin-left: calc(4 / 7 * 100%); }
 
 .offset-7-5 {
   margin-left: calc(5 / 7 * 100%); }
 
 .offset-7-6 {
   margin-left: calc(6 / 7 * 100%); }
 
 /* 7 col end */
 /* 6 col */
 .offset-6-1 {
   margin-left: calc(1 / 6 * 100%); }
 
 .offset-6-2 {
   margin-left: calc(2 / 6 * 100%); }
 
 .offset-6-3 {
   margin-left: calc(3 / 6 * 100%); }
 
 .offset-6-4 {
   margin-left: calc(4 / 6 * 100%); }
 
 .offset-6-5 {
   margin-left: calc(5 / 6 * 100%); }
 
 /* 6 col end */
 /* 5 col */
 .offset-5-1 {
   margin-left: calc(1 / 5 * 100%); }
 
 .offset-5-2 {
   margin-left: calc(2 / 5 * 100%); }
 
 .offset-5-3 {
   margin-left: calc(3 / 5 * 100%); }
 
 .offset-5-4 {
   margin-left: calc(4 / 5 * 100%); }
 
 /* 5 col end */
 /* 4 col */
 .offset-4-1 {
   margin-left: calc(1 / 4 * 100%); }
 
 .offset-4-2 {
   margin-left: calc(2 / 4 * 100%); }
 
 .offset-4-3 {
   margin-left: calc(3 / 4 * 100%); }
 
 /* 4 col end */
 /* 3 col */
 .offset-3-1 {
   margin-left: calc(1 / 3 * 100%); }
 
 .offset-3-2 {
   margin-left: calc(2 / 3 * 100%); }
 
 /* 3 col end */
 /* 2 col */
 .offset-2-1 {
   margin-left: calc(1 / 2 * 100%); }
 
 /* 2 col end */
 /* sm 576px */
 @media (min-width: 576px) {
   .row {
     margin-top: calc(-1 * var(--col-sm-gutter-y));
     margin-right: calc(-0.5 * var(--col-sm-gutter-x));
     margin-left: calc(-0.5 * var(--col-sm-gutter-x)); }
   .row.no-stretch {
     margin-right: calc(-0.5 * var(--col-sm-gutter-x));
     margin-left: calc(-0.5 * var(--col-sm-gutter-x)); }
   .row.sm-no-stretch {
     margin-right: 0;
     margin-left: 0; }
   .col-sm,
   .col-sm-1,
   .col-sm-1-09,
   .col-sm-1-2,
   .col-sm-1-3,
   .col-sm-1-5,
   .col-sm-1-7,
   .col-sm-2,
   .col-sm-2-4,
   .col-sm-3,
   .col-sm-4,
   .col-sm-5,
   .col-sm-6,
   .col-sm-7,
   .col-sm-8,
   .col-sm-9,
   .col-sm-10,
   .col-sm-11,
   .col-sm-12,
   .col-sm-auto {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5); }
   .col-sm {
     flex: 1 0 0%; }
   .row-cols-sm-auto > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: auto; }
   .row-cols-sm-1 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 100%; }
   .row-cols-sm-2 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 50%; }
   .row-cols-sm-3 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 33.3333333333%; }
   .row-cols-sm-4 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 25%; }
   .row-cols-sm-5 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 20%; }
   .row-cols-sm-6 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 16.6666666667%; }
   .row-cols-sm-7 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 7); }
   .row-cols-sm-8 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 8); }
   .row-cols-sm-9 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 9); }
   .row-cols-sm-10 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 10); }
   .row-cols-sm-11 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 11); }
   .row-cols-sm-12 > * {
     margin-top: var(--col-sm-gutter-y);
     padding-left: calc(var(--col-sm-gutter-x) * 0.5);
     padding-right: calc(var(--col-sm-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 12); }
   .col-sm-auto {
     flex: 0 0 auto;
     width: auto; }
   .col-sm-1 {
     flex: 0 0 auto;
     width: 8.33333333%; }
   .col-sm-1-09 {
     flex: 0 0 calc(100% / 11);
     width: calc(100% / 11); }
   .col-sm-1-2 {
     flex: 0 0 calc(100% / 10);
     width: calc(100% / 10); }
   .col-sm-1-3 {
     flex: 0 0 calc(100% / 9);
     width: calc(100% / 9); }
   .col-sm-1-5 {
     flex: 0 0 calc(100% / 8);
     width: calc(100% / 8); }
   .col-sm-1-7 {
     flex: 0 0 calc(100% / 7);
     width: calc(100% / 7); }
   .col-sm-2 {
     flex: 0 0 16.666667%;
     width: 16.666667%; }
   .col-sm-2-4 {
     flex: 0 0 20%;
     width: 20%; }
   .col-sm-3 {
     flex: 0 0 auto;
     width: 25%; }
   .col-sm-4 {
     flex: 0 0 auto;
     width: 33.33333333%; }
   .col-sm-5 {
     flex: 0 0 auto;
     width: 41.66666667%; }
   .col-sm-6 {
     flex: 0 0 auto;
     width: 50%; }
   .col-sm-7 {
     flex: 0 0 auto;
     width: 58.33333333%; }
   .col-sm-8 {
     flex: 0 0 auto;
     width: 66.66666667%; }
   .col-sm-9 {
     flex: 0 0 auto;
     width: 75%; }
   .col-sm-10 {
     flex: 0 0 auto;
     width: 83.33333333%; }
   .col-sm-11 {
     flex: 0 0 auto;
     width: 91.66666667%; }
   .col-sm-12 {
     flex: 0 0 auto;
     width: 100%; }
   .order-sm-first {
     order: -1; }
   .order-sm-last {
     order: 13; }
   .order-sm-0 {
     order: 0; }
   .order-sm-1 {
     order: 1; }
   .order-sm-2 {
     order: 2; }
   .order-sm-3 {
     order: 3; }
   .order-sm-4 {
     order: 4; }
   .order-sm-5 {
     order: 5; }
   .order-sm-6 {
     order: 6; }
   .order-sm-7 {
     order: 7; }
   .order-sm-8 {
     order: 8; }
   .order-sm-9 {
     order: 9; }
   .order-sm-10 {
     order: 10; }
   .order-sm-11 {
     order: 11; }
   .order-sm-12 {
     order: 12; }
   /* 12 col */
   .offset-sm-1 {
     margin-left: 8.333333%; }
   .offset-sm-2 {
     margin-left: 16.666667%; }
   .offset-sm-3 {
     margin-left: 25%; }
   .offset-sm-4 {
     margin-left: 33.333333%; }
   .offset-sm-5 {
     margin-left: 41.666667%; }
   .offset-sm-6 {
     margin-left: 50%; }
   .offset-sm-7 {
     margin-left: 58.333333%; }
   .offset-sm-8 {
     margin-left: 66.666667%; }
   .offset-sm-9 {
     margin-left: 75%; }
   .offset-sm-10 {
     margin-left: 83.333333%; }
   .offset-sm-11 {
     margin-left: 91.666667%; }
   /* 12 col end */
   /* 11 col */
   .offset-sm-11-1 {
     margin-left: calc(1 / 11 * 100%); }
   .offset-sm-11-2 {
     margin-left: calc(2 / 11 * 100%); }
   .offset-sm-11-3 {
     margin-left: calc(3 / 11 * 100%); }
   .offset-sm-11-4 {
     margin-left: calc(4 / 11 * 100%); }
   .offset-sm-11-5 {
     margin-left: calc(5 / 11 * 100%); }
   .offset-sm-11-6 {
     margin-left: calc(6 / 11 * 100%); }
   .offset-sm-11-7 {
     margin-left: calc(7 / 11 * 100%); }
   .offset-sm-11-8 {
     margin-left: calc(8 / 11 * 100%); }
   .offset-sm-11-9 {
     margin-left: calc(9 / 11 * 100%); }
   .offset-sm-11-10 {
     margin-left: calc(10 / 11 * 100%); }
   /* 11 col end */
   /* 10 col */
   .offset-sm-10-1 {
     margin-left: 10%; }
   .offset-sm-10-2 {
     margin-left: 20%; }
   .offset-sm-10-3 {
     margin-left: 30%; }
   .offset-sm-10-4 {
     margin-left: 40%; }
   .offset-sm-10-5 {
     margin-left: 50%; }
   .offset-sm-10-6 {
     margin-left: 60%; }
   .offset-sm-10-7 {
     margin-left: 70%; }
   .offset-sm-10-8 {
     margin-left: 80%; }
   .offset-sm-10-9 {
     margin-left: 90%; }
   /* 10 col end */
   /* 9 col */
   .offset-sm-9-1 {
     margin-left: calc(1 / 9 * 100%); }
   .offset-sm-9-2 {
     margin-left: calc(2 / 9 * 100%); }
   .offset-sm-9-3 {
     margin-left: calc(3 / 9 * 100%); }
   .offset-sm-9-4 {
     margin-left: calc(4 / 9 * 100%); }
   .offset-sm-9-5 {
     margin-left: calc(5 / 9 * 100%); }
   .offset-sm-9-6 {
     margin-left: calc(6 / 9 * 100%); }
   .offset-sm-9-7 {
     margin-left: calc(7 / 9 * 100%); }
   .offset-sm-9-8 {
     margin-left: calc(8 / 9 * 100%); }
   /* 9 col end */
   /* 8 col */
   .offset-sm-8-1 {
     margin-left: calc(1 / 8 * 100%); }
   .offset-sm-8-2 {
     margin-left: calc(2 / 8 * 100%); }
   .offset-sm-8-3 {
     margin-left: calc(3 / 8 * 100%); }
   .offset-sm-8-4 {
     margin-left: calc(4 / 8 * 100%); }
   .offset-sm-8-5 {
     margin-left: calc(5 / 8 * 100%); }
   .offset-sm-8-6 {
     margin-left: calc(6 / 8 * 100%); }
   .offset-sm-8-7 {
     margin-left: calc(7 / 8 * 100%); }
   /* 8 col end */
   /* 7 col */
   .offset-sm-7-1 {
     margin-left: calc(1 / 7 * 100%); }
   .offset-sm-7-2 {
     margin-left: calc(2 / 7 * 100%); }
   .offset-sm-7-3 {
     margin-left: calc(3 / 7 * 100%); }
   .offset-sm-7-4 {
     margin-left: calc(4 / 7 * 100%); }
   .offset-sm-7-5 {
     margin-left: calc(5 / 7 * 100%); }
   .offset-sm-7-6 {
     margin-left: calc(6 / 7 * 100%); }
   /* 7 col end */
   /* 6 col */
   .offset-sm-6-1 {
     margin-left: calc(1 / 6 * 100%); }
   .offset-sm-6-2 {
     margin-left: calc(2 / 6 * 100%); }
   .offset-sm-6-3 {
     margin-left: calc(3 / 6 * 100%); }
   .offset-sm-6-4 {
     margin-left: calc(4 / 6 * 100%); }
   .offset-sm-6-5 {
     margin-left: calc(5 / 6 * 100%); }
   /* 6 col end */
   /* 5 col */
   .offset-sm-5-1 {
     margin-left: calc(1 / 5 * 100%); }
   .offset-sm-5-2 {
     margin-left: calc(2 / 5 * 100%); }
   .offset-sm-5-3 {
     margin-left: calc(3 / 5 * 100%); }
   .offset-sm-5-4 {
     margin-left: calc(4 / 5 * 100%); }
   /* 5 col end */
   /* 4 col */
   .offset-sm-4-1 {
     margin-left: calc(1 / 4 * 100%); }
   .offset-sm-4-2 {
     margin-left: calc(2 / 4 * 100%); }
   .offset-sm-4-3 {
     margin-left: calc(3 / 4 * 100%); }
   /* 4 col end */
   /* 3 col */
   .offset-sm-3-1 {
     margin-left: calc(1 / 3 * 100%); }
   .offset-sm-3-2 {
     margin-left: calc(2 / 3 * 100%); }
   /* 3 col end */
   /* 2 col */
   .offset-sm-2-1 {
     margin-left: calc(1 / 2 * 100%); }
   /* 2 col end */ }
 
 /* md 768px */
 @media (min-width: 768px) {
   .row {
     margin-top: calc(-1 * var(--col-md-gutter-y));
     margin-right: calc(-0.5 * var(--col-md-gutter-x));
     margin-left: calc(-0.5 * var(--col-md-gutter-x)); }
   .row.no-stretch,
   .row.sm-no-stretch {
     margin-right: calc(-0.5 * var(--col-md-gutter-x));
     margin-left: calc(-0.5 * var(--col-md-gutter-x)); }
   .row.md-no-stretch {
     margin-right: 0;
     margin-left: 0; }
   .col-md,
   .col-md-1,
   .col-md-1-09,
   .col-md-1-2,
   .col-md-1-3,
   .col-md-1-5,
   .col-md-1-7,
   .col-md-2,
   .col-md-2-4,
   .col-md-3,
   .col-md-4,
   .col-md-5,
   .col-md-6,
   .col-md-7,
   .col-md-8,
   .col-md-9,
   .col-md-10,
   .col-md-11,
   .col-md-12,
   .col-md-auto {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5); }
   .col-md {
     flex: 1 0 0%; }
   .row-cols-md-auto > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: auto; }
   .row-cols-md-1 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 100%; }
   .row-cols-md-2 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 50%; }
   .row-cols-md-3 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 33.3333333333%; }
   .row-cols-md-4 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 25%; }
   .row-cols-md-5 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 20%; }
   .row-cols-md-6 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 16.6666666667%; }
   .row-cols-md-7 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 7); }
   .row-cols-md-8 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 8); }
   .row-cols-md-9 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 9); }
   .row-cols-md-10 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 10); }
   .row-cols-md-11 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 11); }
   .row-cols-md-12 > * {
     margin-top: var(--col-md-gutter-y);
     padding-left: calc(var(--col-md-gutter-x) * 0.5);
     padding-right: calc(var(--col-md-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 12); }
   .col-md-auto {
     flex: 0 0 auto;
     width: auto; }
   .col-md-1 {
     flex: 0 0 auto;
     width: 8.33333333%; }
   .col-md-1-09 {
     flex: 0 0 calc(100% / 11);
     width: calc(100% / 11); }
   .col-md-1-2 {
     flex: 0 0 calc(100% / 10);
     width: calc(100% / 10); }
   .col-md-1-3 {
     flex: 0 0 calc(100% / 9);
     width: calc(100% / 9); }
   .col-md-1-5 {
     flex: 0 0 calc(100% / 8);
     width: calc(100% / 8); }
   .col-md-1-7 {
     flex: 0 0 calc(100% / 7);
     width: calc(100% / 7); }
   .col-md-2 {
     flex: 0 0 16.666667%;
     width: 16.666667%; }
   .col-md-2-4 {
     flex: 0 0 20%;
     width: 20%; }
   .col-md-3 {
     flex: 0 0 auto;
     width: 25%; }
   .col-md-4 {
     flex: 0 0 auto;
     width: 33.33333333%; }
   .col-md-5 {
     flex: 0 0 auto;
     width: 41.66666667%; }
   .col-md-6 {
     flex: 0 0 auto;
     width: 50%; }
   .col-md-7 {
     flex: 0 0 auto;
     width: 58.33333333%; }
   .col-md-8 {
     flex: 0 0 auto;
     width: 66.66666667%; }
   .col-md-9 {
     flex: 0 0 auto;
     width: 75%; }
   .col-md-10 {
     flex: 0 0 auto;
     width: 83.33333333%; }
   .col-md-11 {
     flex: 0 0 auto;
     width: 91.66666667%; }
   .col-md-12 {
     flex: 0 0 auto;
     width: 100%; }
   .order-md-first {
     order: -1; }
   .order-md-last {
     order: 13; }
   .order-md-0 {
     order: 0; }
   .order-md-1 {
     order: 1; }
   .order-md-2 {
     order: 2; }
   .order-md-3 {
     order: 3; }
   .order-md-4 {
     order: 4; }
   .order-md-5 {
     order: 5; }
   .order-md-6 {
     order: 6; }
   .order-md-7 {
     order: 7; }
   .order-md-8 {
     order: 8; }
   .order-md-9 {
     order: 9; }
   .order-md-10 {
     order: 10; }
   .order-md-11 {
     order: 11; }
   .order-md-12 {
     order: 12; }
   /* 12 col */
   .offset-md-1 {
     margin-left: 8.333333%; }
   .offset-md-2 {
     margin-left: 16.666667%; }
   .offset-md-3 {
     margin-left: 25%; }
   .offset-md-4 {
     margin-left: 33.333333%; }
   .offset-md-5 {
     margin-left: 41.666667%; }
   .offset-md-6 {
     margin-left: 50%; }
   .offset-md-7 {
     margin-left: 58.333333%; }
   .offset-md-8 {
     margin-left: 66.666667%; }
   .offset-md-9 {
     margin-left: 75%; }
   .offset-md-10 {
     margin-left: 83.333333%; }
   .offset-md-11 {
     margin-left: 91.666667%; }
   /* 12 col end */
   /* 11 col */
   .offset-md-11-1 {
     margin-left: calc(1 / 11 * 100%); }
   .offset-md-11-2 {
     margin-left: calc(2 / 11 * 100%); }
   .offset-md-11-3 {
     margin-left: calc(3 / 11 * 100%); }
   .offset-md-11-4 {
     margin-left: calc(4 / 11 * 100%); }
   .offset-md-11-5 {
     margin-left: calc(5 / 11 * 100%); }
   .offset-md-11-6 {
     margin-left: calc(6 / 11 * 100%); }
   .offset-md-11-7 {
     margin-left: calc(7 / 11 * 100%); }
   .offset-md-11-8 {
     margin-left: calc(8 / 11 * 100%); }
   .offset-md-11-9 {
     margin-left: calc(9 / 11 * 100%); }
   .offset-md-11-10 {
     margin-left: calc(10 / 11 * 100%); }
   /* 11 col end */
   /* 10 col */
   .offset-md-10-1 {
     margin-left: 10%; }
   .offset-md-10-2 {
     margin-left: 20%; }
   .offset-md-10-3 {
     margin-left: 30%; }
   .offset-md-10-4 {
     margin-left: 40%; }
   .offset-md-10-5 {
     margin-left: 50%; }
   .offset-md-10-6 {
     margin-left: 60%; }
   .offset-md-10-7 {
     margin-left: 70%; }
   .offset-md-10-8 {
     margin-left: 80%; }
   .offset-md-10-9 {
     margin-left: 90%; }
   /* 10 col end */
   /* 9 col */
   .offset-md-9-1 {
     margin-left: calc(1 / 9 * 100%); }
   .offset-md-9-2 {
     margin-left: calc(2 / 9 * 100%); }
   .offset-md-9-3 {
     margin-left: calc(3 / 9 * 100%); }
   .offset-md-9-4 {
     margin-left: calc(4 / 9 * 100%); }
   .offset-md-9-5 {
     margin-left: calc(5 / 9 * 100%); }
   .offset-md-9-6 {
     margin-left: calc(6 / 9 * 100%); }
   .offset-md-9-7 {
     margin-left: calc(7 / 9 * 100%); }
   .offset-md-9-8 {
     margin-left: calc(8 / 9 * 100%); }
   /* 9 col end */
   /* 8 col */
   .offset-md-8-1 {
     margin-left: calc(1 / 8 * 100%); }
   .offset-md-8-2 {
     margin-left: calc(2 / 8 * 100%); }
   .offset-md-8-3 {
     margin-left: calc(3 / 8 * 100%); }
   .offset-md-8-4 {
     margin-left: calc(4 / 8 * 100%); }
   .offset-md-8-5 {
     margin-left: calc(5 / 8 * 100%); }
   .offset-md-8-6 {
     margin-left: calc(6 / 8 * 100%); }
   .offset-md-8-7 {
     margin-left: calc(7 / 8 * 100%); }
   /* 8 col end */
   /* 7 col */
   .offset-md-7-1 {
     margin-left: calc(1 / 7 * 100%); }
   .offset-md-7-2 {
     margin-left: calc(2 / 7 * 100%); }
   .offset-md-7-3 {
     margin-left: calc(3 / 7 * 100%); }
   .offset-md-7-4 {
     margin-left: calc(4 / 7 * 100%); }
   .offset-md-7-5 {
     margin-left: calc(5 / 7 * 100%); }
   .offset-md-7-6 {
     margin-left: calc(6 / 7 * 100%); }
   /* 7 col end */
   /* 6 col */
   .offset-md-6-1 {
     margin-left: calc(1 / 6 * 100%); }
   .offset-md-6-2 {
     margin-left: calc(2 / 6 * 100%); }
   .offset-md-6-3 {
     margin-left: calc(3 / 6 * 100%); }
   .offset-md-6-4 {
     margin-left: calc(4 / 6 * 100%); }
   .offset-md-6-5 {
     margin-left: calc(5 / 6 * 100%); }
   /* 6 col end */
   /* 5 col */
   .offset-md-5-1 {
     margin-left: calc(1 / 5 * 100%); }
   .offset-md-5-2 {
     margin-left: calc(2 / 5 * 100%); }
   .offset-md-5-3 {
     margin-left: calc(3 / 5 * 100%); }
   .offset-md-5-4 {
     margin-left: calc(4 / 5 * 100%); }
   /* 5 col end */
   /* 4 col */
   .offset-md-4-1 {
     margin-left: calc(1 / 4 * 100%); }
   .offset-md-4-2 {
     margin-left: calc(2 / 4 * 100%); }
   .offset-md-4-3 {
     margin-left: calc(3 / 4 * 100%); }
   /* 4 col end */
   /* 3 col */
   .offset-md-3-1 {
     margin-left: calc(1 / 3 * 100%); }
   .offset-md-3-2 {
     margin-left: calc(2 / 3 * 100%); }
   /* 3 col end */
   /* 2 col */
   .offset-md-2-1 {
     margin-left: calc(1 / 2 * 100%); }
   /* 2 col end */ }
 
 /* lg 992px */
 @media (min-width: 992px) {
   .row {
     margin-top: calc(-1 * var(--col-lg-gutter-y));
     margin-right: calc(-0.5 * var(--col-lg-gutter-x));
     margin-left: calc(-0.5 * var(--col-lg-gutter-x)); }
   .row.no-stretch,
   .row.sm-no-stretch,
   .row.md-no-stretch {
     margin-right: calc(-0.5 * var(--col-lg-gutter-x));
     margin-left: calc(-0.5 * var(--col-lg-gutter-x)); }
   .row.lg-no-stretch {
     margin-right: 0;
     margin-left: 0; }
   .col-lg,
   .col-lg-1,
   .col-lg-1-09,
   .col-lg-1-2,
   .col-lg-1-3,
   .col-lg-1-5,
   .col-lg-1-7,
   .col-lg-2,
   .col-lg-2-4,
   .col-lg-3,
   .col-lg-4,
   .col-lg-5,
   .col-lg-6,
   .col-lg-7,
   .col-lg-8,
   .col-lg-9,
   .col-lg-10,
   .col-lg-11,
   .col-lg-12,
   .col-lg-auto {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5); }
   .col-lg {
     flex: 1 0 0%; }
   .row-cols-lg-auto > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: auto; }
   .row-cols-lg-1 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 100%; }
   .row-cols-lg-2 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 50%; }
   .row-cols-lg-3 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 33.3333333333%; }
   .row-cols-lg-4 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 25%; }
   .row-cols-lg-5 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 20%; }
   .row-cols-lg-6 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 16.6666666667%; }
   .row-cols-lg-7 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 7); }
   .row-cols-lg-8 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 8); }
   .row-cols-lg-9 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 9); }
   .row-cols-lg-10 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 10); }
   .row-cols-lg-11 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 11); }
   .row-cols-lg-12 > * {
     margin-top: var(--col-lg-gutter-y);
     padding-left: calc(var(--col-lg-gutter-x) * 0.5);
     padding-right: calc(var(--col-lg-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 12); }
   .col-lg-auto {
     flex: 0 0 auto;
     width: auto; }
   .col-lg-1 {
     flex: 0 0 auto;
     width: 8.33333333%; }
   .col-lg-1-09 {
     flex: 0 0 calc(100% / 11);
     width: calc(100% / 11); }
   .col-lg-1-2 {
     flex: 0 0 calc(100% / 10);
     width: calc(100% / 10); }
   .col-lg-1-3 {
     flex: 0 0 calc(100% / 9);
     width: calc(100% / 9); }
   .col-lg-1-5 {
     flex: 0 0 calc(100% / 8);
     width: calc(100% / 8); }
   .col-lg-1-7 {
     flex: 0 0 calc(100% / 7);
     width: calc(100% / 7); }
   .col-lg-2 {
     flex: 0 0 16.666667%;
     width: 16.666667%; }
   .col-lg-2-4 {
     flex: 0 0 20%;
     width: 20%; }
   .col-lg-3 {
     flex: 0 0 auto;
     width: 25%; }
   .col-lg-4 {
     flex: 0 0 auto;
     width: 33.33333333%; }
   .col-lg-5 {
     flex: 0 0 auto;
     width: 41.66666667%; }
   .col-lg-6 {
     flex: 0 0 auto;
     width: 50%; }
   .col-lg-7 {
     flex: 0 0 auto;
     width: 58.33333333%; }
   .col-lg-8 {
     flex: 0 0 auto;
     width: 66.66666667%; }
   .col-lg-9 {
     flex: 0 0 auto;
     width: 75%; }
   .col-lg-10 {
     flex: 0 0 auto;
     width: 83.33333333%; }
   .col-lg-11 {
     flex: 0 0 auto;
     width: 91.66666667%; }
   .col-lg-12 {
     flex: 0 0 auto;
     width: 100%; }
   .order-lg-first {
     order: -1; }
   .order-lg-last {
     order: 13; }
   .order-lg-0 {
     order: 0; }
   .order-lg-1 {
     order: 1; }
   .order-lg-2 {
     order: 2; }
   .order-lg-3 {
     order: 3; }
   .order-lg-4 {
     order: 4; }
   .order-lg-5 {
     order: 5; }
   .order-lg-6 {
     order: 6; }
   .order-lg-7 {
     order: 7; }
   .order-lg-8 {
     order: 8; }
   .order-lg-9 {
     order: 9; }
   .order-lg-10 {
     order: 10; }
   .order-lg-11 {
     order: 11; }
   .order-lg-12 {
     order: 12; }
   /* 12 col */
   .offset-lg-1 {
     margin-left: 8.333333%; }
   .offset-lg-2 {
     margin-left: 16.666667%; }
   .offset-lg-3 {
     margin-left: 25%; }
   .offset-lg-4 {
     margin-left: 33.333333%; }
   .offset-lg-5 {
     margin-left: 41.666667%; }
   .offset-lg-6 {
     margin-left: 50%; }
   .offset-lg-7 {
     margin-left: 58.333333%; }
   .offset-lg-8 {
     margin-left: 66.666667%; }
   .offset-lg-9 {
     margin-left: 75%; }
   .offset-lg-10 {
     margin-left: 83.333333%; }
   .offset-lg-11 {
     margin-left: 91.666667%; }
   /* 12 col end */
   /* 11 col */
   .offset-lg-11-1 {
     margin-left: calc(1 / 11 * 100%); }
   .offset-lg-11-2 {
     margin-left: calc(2 / 11 * 100%); }
   .offset-lg-11-3 {
     margin-left: calc(3 / 11 * 100%); }
   .offset-lg-11-4 {
     margin-left: calc(4 / 11 * 100%); }
   .offset-lg-11-5 {
     margin-left: calc(5 / 11 * 100%); }
   .offset-lg-11-6 {
     margin-left: calc(6 / 11 * 100%); }
   .offset-lg-11-7 {
     margin-left: calc(7 / 11 * 100%); }
   .offset-lg-11-8 {
     margin-left: calc(8 / 11 * 100%); }
   .offset-lg-11-9 {
     margin-left: calc(9 / 11 * 100%); }
   .offset-lg-11-10 {
     margin-left: calc(10 / 11 * 100%); }
   /* 11 col end */
   /* 10 col */
   .offset-lg-10-1 {
     margin-left: 10%; }
   .offset-lg-10-2 {
     margin-left: 20%; }
   .offset-lg-10-3 {
     margin-left: 30%; }
   .offset-lg-10-4 {
     margin-left: 40%; }
   .offset-lg-10-5 {
     margin-left: 50%; }
   .offset-lg-10-6 {
     margin-left: 60%; }
   .offset-lg-10-7 {
     margin-left: 70%; }
   .offset-lg-10-8 {
     margin-left: 80%; }
   .offset-lg-10-9 {
     margin-left: 90%; }
   /* 10 col end */
   /* 9 col */
   .offset-lg-9-1 {
     margin-left: calc(1 / 9 * 100%); }
   .offset-lg-9-2 {
     margin-left: calc(2 / 9 * 100%); }
   .offset-lg-9-3 {
     margin-left: calc(3 / 9 * 100%); }
   .offset-lg-9-4 {
     margin-left: calc(4 / 9 * 100%); }
   .offset-lg-9-5 {
     margin-left: calc(5 / 9 * 100%); }
   .offset-lg-9-6 {
     margin-left: calc(6 / 9 * 100%); }
   .offset-lg-9-7 {
     margin-left: calc(7 / 9 * 100%); }
   .offset-lg-9-8 {
     margin-left: calc(8 / 9 * 100%); }
   /* 9 col end */
   /* 8 col */
   .offset-lg-8-1 {
     margin-left: calc(1 / 8 * 100%); }
   .offset-lg-8-2 {
     margin-left: calc(2 / 8 * 100%); }
   .offset-lg-8-3 {
     margin-left: calc(3 / 8 * 100%); }
   .offset-lg-8-4 {
     margin-left: calc(4 / 8 * 100%); }
   .offset-lg-8-5 {
     margin-left: calc(5 / 8 * 100%); }
   .offset-lg-8-6 {
     margin-left: calc(6 / 8 * 100%); }
   .offset-lg-8-7 {
     margin-left: calc(7 / 8 * 100%); }
   /* 8 col end */
   /* 7 col */
   .offset-lg-7-1 {
     margin-left: calc(1 / 7 * 100%); }
   .offset-lg-7-2 {
     margin-left: calc(2 / 7 * 100%); }
   .offset-lg-7-3 {
     margin-left: calc(3 / 7 * 100%); }
   .offset-lg-7-4 {
     margin-left: calc(4 / 7 * 100%); }
   .offset-lg-7-5 {
     margin-left: calc(5 / 7 * 100%); }
   .offset-lg-7-6 {
     margin-left: calc(6 / 7 * 100%); }
   /* 7 col end */
   /* 6 col */
   .offset-lg-6-1 {
     margin-left: calc(1 / 6 * 100%); }
   .offset-lg-6-2 {
     margin-left: calc(2 / 6 * 100%); }
   .offset-lg-6-3 {
     margin-left: calc(3 / 6 * 100%); }
   .offset-lg-6-4 {
     margin-left: calc(4 / 6 * 100%); }
   .offset-lg-6-5 {
     margin-left: calc(5 / 6 * 100%); }
   /* 6 col end */
   /* 5 col */
   .offset-lg-5-1 {
     margin-left: calc(1 / 5 * 100%); }
   .offset-lg-5-2 {
     margin-left: calc(2 / 5 * 100%); }
   .offset-lg-5-3 {
     margin-left: calc(3 / 5 * 100%); }
   .offset-lg-5-4 {
     margin-left: calc(4 / 5 * 100%); }
   /* 5 col end */
   /* 4 col */
   .offset-lg-4-1 {
     margin-left: calc(1 / 4 * 100%); }
   .offset-lg-4-2 {
     margin-left: calc(2 / 4 * 100%); }
   .offset-lg-4-3 {
     margin-left: calc(3 / 4 * 100%); }
   /* 4 col end */
   /* 3 col */
   .offset-lg-3-1 {
     margin-left: calc(1 / 3 * 100%); }
   .offset-lg-3-2 {
     margin-left: calc(2 / 3 * 100%); }
   /* 3 col end */
   /* 2 col */
   .offset-lg-2-1 {
     margin-left: calc(1 / 2 * 100%); }
   /* 2 col end */ }
 
 /* xl 1200px */
 @media (min-width: 1200px) {
   .row {
     margin-top: calc(-1 * var(--col-xl-gutter-y));
     margin-right: calc(-0.5 * var(--col-xl-gutter-x));
     margin-left: calc(-0.5 * var(--col-xl-gutter-x)); }
   .row.no-stretch,
   .row.sm-no-stretch,
   .row.md-no-stretch,
   .row.lg-no-stretch {
     margin-right: calc(-0.5 * var(--col-xl-gutter-x));
     margin-left: calc(-0.5 * var(--col-xl-gutter-x)); }
   .row.xl-no-stretch {
     margin-right: 0;
     margin-left: 0; }
   .col-xl,
   .col-xl-1,
   .col-xl-1-09,
   .col-xl-1-2,
   .col-xl-1-3,
   .col-xl-1-5,
   .col-xl-1-7,
   .col-xl-2,
   .col-xl-2-4,
   .col-xl-3,
   .col-xl-4,
   .col-xl-5,
   .col-xl-6,
   .col-xl-7,
   .col-xl-8,
   .col-xl-9,
   .col-xl-10,
   .col-xl-11,
   .col-xl-12,
   .col-xl-auto {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5); }
   .col-xl {
     flex: 1 0 0%; }
   .row-cols-xl-auto > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: auto; }
   .row-cols-xl-1 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 100%; }
   .row-cols-xl-2 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 50%; }
   .row-cols-xl-3 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 33.3333333333%; }
   .row-cols-xl-4 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 25%; }
   .row-cols-xl-5 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 20%; }
   .row-cols-xl-6 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 16.6666666667%; }
   .row-cols-xl-7 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 7); }
   .row-cols-xl-8 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 8); }
   .row-cols-xl-9 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 9); }
   .row-cols-xl-10 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 10); }
   .row-cols-xl-11 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 11); }
   .row-cols-xl-12 > * {
     margin-top: var(--col-xl-gutter-y);
     padding-left: calc(var(--col-xl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 12); }
   .col-xl-auto {
     flex: 0 0 auto;
     width: auto; }
   .col-xl-1 {
     flex: 0 0 auto;
     width: 8.33333333%; }
   .col-xl-1-09 {
     flex: 0 0 calc(100% / 11);
     width: calc(100% / 11); }
   .col-xl-1-2 {
     flex: 0 0 calc(100% / 10);
     width: calc(100% / 10); }
   .col-xl-1-3 {
     flex: 0 0 calc(100% / 9);
     width: calc(100% / 9); }
   .col-xl-1-5 {
     flex: 0 0 calc(100% / 8);
     width: calc(100% / 8); }
   .col-xl-1-7 {
     flex: 0 0 calc(100% / 7);
     width: calc(100% / 7); }
   .col-xl-2 {
     flex: 0 0 16.666667%;
     width: 16.666667%; }
   .col-xl-2-4 {
     flex: 0 0 20%;
     width: 20%; }
   .col-xl-3 {
     flex: 0 0 auto;
     width: 25%; }
   .col-xl-4 {
     flex: 0 0 auto;
     width: 33.33333333%; }
   .col-xl-5 {
     flex: 0 0 auto;
     width: 41.66666667%; }
   .col-xl-6 {
     flex: 0 0 auto;
     width: 50%; }
   .col-xl-7 {
     flex: 0 0 auto;
     width: 58.33333333%; }
   .col-xl-8 {
     flex: 0 0 auto;
     width: 66.66666667%; }
   .col-xl-9 {
     flex: 0 0 auto;
     width: 75%; }
   .col-xl-10 {
     flex: 0 0 auto;
     width: 83.33333333%; }
   .col-xl-11 {
     flex: 0 0 auto;
     width: 91.66666667%; }
   .col-xl-12 {
     flex: 0 0 auto;
     width: 100%; }
   .order-xl-first {
     order: -1; }
   .order-xl-last {
     order: 13; }
   .order-xl-0 {
     order: 0; }
   .order-xl-1 {
     order: 1; }
   .order-xl-2 {
     order: 2; }
   .order-xl-3 {
     order: 3; }
   .order-xl-4 {
     order: 4; }
   .order-xl-5 {
     order: 5; }
   .order-xl-6 {
     order: 6; }
   .order-xl-7 {
     order: 7; }
   .order-xl-8 {
     order: 8; }
   .order-xl-9 {
     order: 9; }
   .order-xl-10 {
     order: 10; }
   .order-xl-11 {
     order: 11; }
   .order-xl-12 {
     order: 12; }
   /* 12 col */
   .offset-xl-1 {
     margin-left: 8.333333%; }
   .offset-xl-2 {
     margin-left: 16.666667%; }
   .offset-xl-3 {
     margin-left: 25%; }
   .offset-xl-4 {
     margin-left: 33.333333%; }
   .offset-xl-5 {
     margin-left: 41.666667%; }
   .offset-xl-6 {
     margin-left: 50%; }
   .offset-xl-7 {
     margin-left: 58.333333%; }
   .offset-xl-8 {
     margin-left: 66.666667%; }
   .offset-xl-9 {
     margin-left: 75%; }
   .offset-xl-10 {
     margin-left: 83.333333%; }
   .offset-xl-11 {
     margin-left: 91.666667%; }
   /* 12 col end */
   /* 11 col */
   .offset-xl-11-1 {
     margin-left: calc(1 / 11 * 100%); }
   .offset-xl-11-2 {
     margin-left: calc(2 / 11 * 100%); }
   .offset-xl-11-3 {
     margin-left: calc(3 / 11 * 100%); }
   .offset-xl-11-4 {
     margin-left: calc(4 / 11 * 100%); }
   .offset-xl-11-5 {
     margin-left: calc(5 / 11 * 100%); }
   .offset-xl-11-6 {
     margin-left: calc(6 / 11 * 100%); }
   .offset-xl-11-7 {
     margin-left: calc(7 / 11 * 100%); }
   .offset-xl-11-8 {
     margin-left: calc(8 / 11 * 100%); }
   .offset-xl-11-9 {
     margin-left: calc(9 / 11 * 100%); }
   .offset-xl-11-10 {
     margin-left: calc(10 / 11 * 100%); }
   /* 11 col end */
   /* 10 col */
   .offset-xl-10-1 {
     margin-left: 10%; }
   .offset-xl-10-2 {
     margin-left: 20%; }
   .offset-xl-10-3 {
     margin-left: 30%; }
   .offset-xl-10-4 {
     margin-left: 40%; }
   .offset-xl-10-5 {
     margin-left: 50%; }
   .offset-xl-10-6 {
     margin-left: 60%; }
   .offset-xl-10-7 {
     margin-left: 70%; }
   .offset-xl-10-8 {
     margin-left: 80%; }
   .offset-xl-10-9 {
     margin-left: 90%; }
   /* 10 col end */
   /* 9 col */
   .offset-xl-9-1 {
     margin-left: calc(1 / 9 * 100%); }
   .offset-xl-9-2 {
     margin-left: calc(2 / 9 * 100%); }
   .offset-xl-9-3 {
     margin-left: calc(3 / 9 * 100%); }
   .offset-xl-9-4 {
     margin-left: calc(4 / 9 * 100%); }
   .offset-xl-9-5 {
     margin-left: calc(5 / 9 * 100%); }
   .offset-xl-9-6 {
     margin-left: calc(6 / 9 * 100%); }
   .offset-xl-9-7 {
     margin-left: calc(7 / 9 * 100%); }
   .offset-xl-9-8 {
     margin-left: calc(8 / 9 * 100%); }
   /* 9 col end */
   /* 8 col */
   .offset-xl-8-1 {
     margin-left: calc(1 / 8 * 100%); }
   .offset-xl-8-2 {
     margin-left: calc(2 / 8 * 100%); }
   .offset-xl-8-3 {
     margin-left: calc(3 / 8 * 100%); }
   .offset-xl-8-4 {
     margin-left: calc(4 / 8 * 100%); }
   .offset-xl-8-5 {
     margin-left: calc(5 / 8 * 100%); }
   .offset-xl-8-6 {
     margin-left: calc(6 / 8 * 100%); }
   .offset-xl-8-7 {
     margin-left: calc(7 / 8 * 100%); }
   /* 8 col end */
   /* 7 col */
   .offset-xl-7-1 {
     margin-left: calc(1 / 7 * 100%); }
   .offset-xl-7-2 {
     margin-left: calc(2 / 7 * 100%); }
   .offset-xl-7-3 {
     margin-left: calc(3 / 7 * 100%); }
   .offset-xl-7-4 {
     margin-left: calc(4 / 7 * 100%); }
   .offset-xl-7-5 {
     margin-left: calc(5 / 7 * 100%); }
   .offset-xl-7-6 {
     margin-left: calc(6 / 7 * 100%); }
   /* 7 col end */
   /* 6 col */
   .offset-xl-6-1 {
     margin-left: calc(1 / 6 * 100%); }
   .offset-xl-6-2 {
     margin-left: calc(2 / 6 * 100%); }
   .offset-xl-6-3 {
     margin-left: calc(3 / 6 * 100%); }
   .offset-xl-6-4 {
     margin-left: calc(4 / 6 * 100%); }
   .offset-xl-6-5 {
     margin-left: calc(5 / 6 * 100%); }
   /* 6 col end */
   /* 5 col */
   .offset-xl-5-1 {
     margin-left: calc(1 / 5 * 100%); }
   .offset-xl-5-2 {
     margin-left: calc(2 / 5 * 100%); }
   .offset-xl-5-3 {
     margin-left: calc(3 / 5 * 100%); }
   .offset-xl-5-4 {
     margin-left: calc(4 / 5 * 100%); }
   /* 5 col end */
   /* 4 col */
   .offset-xl-4-1 {
     margin-left: calc(1 / 4 * 100%); }
   .offset-xl-4-2 {
     margin-left: calc(2 / 4 * 100%); }
   .offset-xl-4-3 {
     margin-left: calc(3 / 4 * 100%); }
   /* 4 col end */
   /* 3 col */
   .offset-xl-3-1 {
     margin-left: calc(1 / 3 * 100%); }
   .offset-xl-3-2 {
     margin-left: calc(2 / 3 * 100%); }
   /* 3 col end */
   /* 2 col */
   .offset-xl-2-1 {
     margin-left: calc(1 / 2 * 100%); }
   /* 2 col end */ }
 
 /* xxl 1400px */
 @media (min-width: 1400px) {
   .row {
     margin-top: calc(-1 * var(--col-xxl-gutter-y));
     margin-right: calc(-0.5 * var(--col-xxl-gutter-x));
     margin-left: calc(-0.5 * var(--col-xxl-gutter-x)); }
   .row.no-stretch,
   .row.sm-no-stretch,
   .row.md-no-stretch,
   .row.lg-no-stretch,
   .row.xl-no-stretch {
     margin-right: calc(-0.5 * var(--col-xxl-gutter-x));
     margin-left: calc(-0.5 * var(--col-xxl-gutter-x)); }
   .row.xxl-no-stretch {
     margin-right: 0;
     margin-left: 0; }
   .col-xxl,
   .col-xxl-1,
   .col-xxl-1-09,
   .col-xxl-1-2,
   .col-xxl-1-3,
   .col-xxl-1-5,
   .col-xxl-1-7,
   .col-xxl-2,
   .col-xxl-2-4,
   .col-xxl-3,
   .col-xxl-4,
   .col-xxl-5,
   .col-xxl-6,
   .col-xxl-7,
   .col-xxl-8,
   .col-xxl-9,
   .col-xxl-10,
   .col-xxl-11,
   .col-xxl-12,
   .col-xxl-auto {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5); }
   .col-xxl {
     flex: 1 0 0%; }
   .row-cols-xxl-auto > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: auto; }
   .row-cols-xxl-1 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 100%; }
   .row-cols-xxl-2 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 50%; }
   .row-cols-xxl-3 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 33.3333333333%; }
   .row-cols-xxl-4 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 25%; }
   .row-cols-xxl-5 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 20%; }
   .row-cols-xxl-6 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: 16.6666666667%; }
   .row-cols-xxl-7 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 7); }
   .row-cols-xxl-8 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 8); }
   .row-cols-xxl-9 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 9); }
   .row-cols-xxl-10 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 10); }
   .row-cols-xxl-11 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 11); }
   .row-cols-xxl-12 > * {
     margin-top: var(--col-xxl-gutter-y);
     padding-left: calc(var(--col-xxl-gutter-x) * 0.5);
     padding-right: calc(var(--col-xxl-gutter-x) * 0.5);
     flex: 0 0 auto;
     width: calc(100% / 12); }
   .col-xxl-auto {
     flex: 0 0 auto;
     width: auto; }
   .col-xxl-1 {
     flex: 0 0 auto;
     width: 8.33333333%; }
   .col-xxl-1-09 {
     flex: 0 0 calc(100% / 11);
     width: calc(100% / 11); }
   .col-xxl-1-2 {
     flex: 0 0 calc(100% / 10);
     width: calc(100% / 10); }
   .col-xxl-1-3 {
     flex: 0 0 calc(100% / 9);
     width: calc(100% / 9); }
   .col-xxl-1-5 {
     flex: 0 0 calc(100% / 8);
     width: calc(100% / 8); }
   .col-xxl-1-7 {
     flex: 0 0 calc(100% / 7);
     width: calc(100% / 7); }
   .col-xxl-2 {
     flex: 0 0 16.666667%;
     width: 16.666667%; }
   .col-xxl-2-4 {
     flex: 0 0 20%;
     width: 20%; }
   .col-xxl-3 {
     flex: 0 0 auto;
     width: 25%; }
   .col-xxl-4 {
     flex: 0 0 auto;
     width: 33.33333333%; }
   .col-xxl-5 {
     flex: 0 0 auto;
     width: 41.66666667%; }
   .col-xxl-6 {
     flex: 0 0 auto;
     width: 50%; }
   .col-xxl-7 {
     flex: 0 0 auto;
     width: 58.33333333%; }
   .col-xxl-8 {
     flex: 0 0 auto;
     width: 66.66666667%; }
   .col-xxl-9 {
     flex: 0 0 auto;
     width: 75%; }
   .col-xxl-10 {
     flex: 0 0 auto;
     width: 83.33333333%; }
   .col-xxl-11 {
     flex: 0 0 auto;
     width: 91.66666667%; }
   .col-xxl-12 {
     flex: 0 0 auto;
     width: 100%; }
   .order-xxl-first {
     order: -1; }
   .order-xxl-last {
     order: 13; }
   .order-xxl-0 {
     order: 0; }
   .order-xxl-1 {
     order: 1; }
   .order-xxl-2 {
     order: 2; }
   .order-xxl-3 {
     order: 3; }
   .order-xxl-4 {
     order: 4; }
   .order-xxl-5 {
     order: 5; }
   .order-xxl-6 {
     order: 6; }
   .order-xxl-7 {
     order: 7; }
   .order-xxl-8 {
     order: 8; }
   .order-xxl-9 {
     order: 9; }
   .order-xxl-10 {
     order: 10; }
   .order-xxl-11 {
     order: 11; }
   .order-xxl-12 {
     order: 12; }
   /* 12 col */
   .offset-xxl-1 {
     margin-left: 8.333333%; }
   .offset-xxl-2 {
     margin-left: 16.666667%; }
   .offset-xxl-3 {
     margin-left: 25%; }
   .offset-xxl-4 {
     margin-left: 33.333333%; }
   .offset-xxl-5 {
     margin-left: 41.666667%; }
   .offset-xxl-6 {
     margin-left: 50%; }
   .offset-xxl-7 {
     margin-left: 58.333333%; }
   .offset-xxl-8 {
     margin-left: 66.666667%; }
   .offset-xxl-9 {
     margin-left: 75%; }
   .offset-xxl-10 {
     margin-left: 83.333333%; }
   .offset-xxl-11 {
     margin-left: 91.666667%; }
   /* 12 col end */
   /* 11 col */
   .offset-xxl-11-1 {
     margin-left: calc(1 / 11 * 100%); }
   .offset-xxl-11-2 {
     margin-left: calc(2 / 11 * 100%); }
   .offset-xxl-11-3 {
     margin-left: calc(3 / 11 * 100%); }
   .offset-xxl-11-4 {
     margin-left: calc(4 / 11 * 100%); }
   .offset-xxl-11-5 {
     margin-left: calc(5 / 11 * 100%); }
   .offset-xxl-11-6 {
     margin-left: calc(6 / 11 * 100%); }
   .offset-xxl-11-7 {
     margin-left: calc(7 / 11 * 100%); }
   .offset-xxl-11-8 {
     margin-left: calc(8 / 11 * 100%); }
   .offset-xxl-11-9 {
     margin-left: calc(9 / 11 * 100%); }
   .offset-xxl-11-10 {
     margin-left: calc(10 / 11 * 100%); }
   /* 11 col end */
   /* 10 col */
   .offset-xxl-10-1 {
     margin-left: 10%; }
   .offset-xxl-10-2 {
     margin-left: 20%; }
   .offset-xxl-10-3 {
     margin-left: 30%; }
   .offset-xxl-10-4 {
     margin-left: 40%; }
   .offset-xxl-10-5 {
     margin-left: 50%; }
   .offset-xxl-10-6 {
     margin-left: 60%; }
   .offset-xxl-10-7 {
     margin-left: 70%; }
   .offset-xxl-10-8 {
     margin-left: 80%; }
   .offset-xxl-10-9 {
     margin-left: 90%; }
   /* 10 col end */
   /* 9 col */
   .offset-xxl-9-1 {
     margin-left: calc(1 / 9 * 100%); }
   .offset-xxl-9-2 {
     margin-left: calc(2 / 9 * 100%); }
   .offset-xxl-9-3 {
     margin-left: calc(3 / 9 * 100%); }
   .offset-xxl-9-4 {
     margin-left: calc(4 / 9 * 100%); }
   .offset-xxl-9-5 {
     margin-left: calc(5 / 9 * 100%); }
   .offset-xxl-9-6 {
     margin-left: calc(6 / 9 * 100%); }
   .offset-xxl-9-7 {
     margin-left: calc(7 / 9 * 100%); }
   .offset-xxl-9-8 {
     margin-left: calc(8 / 9 * 100%); }
   /* 9 col end */
   /* 8 col */
   .offset-xxl-8-1 {
     margin-left: calc(1 / 8 * 100%); }
   .offset-xxl-8-2 {
     margin-left: calc(2 / 8 * 100%); }
   .offset-xxl-8-3 {
     margin-left: calc(3 / 8 * 100%); }
   .offset-xxl-8-4 {
     margin-left: calc(4 / 8 * 100%); }
   .offset-xxl-8-5 {
     margin-left: calc(5 / 8 * 100%); }
   .offset-xxl-8-6 {
     margin-left: calc(6 / 8 * 100%); }
   .offset-xxl-8-7 {
     margin-left: calc(7 / 8 * 100%); }
   /* 8 col end */
   /* 7 col */
   .offset-xxl-7-1 {
     margin-left: calc(1 / 7 * 100%); }
   .offset-xxl-7-2 {
     margin-left: calc(2 / 7 * 100%); }
   .offset-xxl-7-3 {
     margin-left: calc(3 / 7 * 100%); }
   .offset-xxl-7-4 {
     margin-left: calc(4 / 7 * 100%); }
   .offset-xxl-7-5 {
     margin-left: calc(5 / 7 * 100%); }
   .offset-xxl-7-6 {
     margin-left: calc(6 / 7 * 100%); }
   /* 7 col end */
   /* 6 col */
   .offset-xxl-6-1 {
     margin-left: calc(1 / 6 * 100%); }
   .offset-xxl-6-2 {
     margin-left: calc(2 / 6 * 100%); }
   .offset-xxl-6-3 {
     margin-left: calc(3 / 6 * 100%); }
   .offset-xxl-6-4 {
     margin-left: calc(4 / 6 * 100%); }
   .offset-xxl-6-5 {
     margin-left: calc(5 / 6 * 100%); }
   /* 6 col end */
   /* 5 col */
   .offset-xxl-5-1 {
     margin-left: calc(1 / 5 * 100%); }
   .offset-xxl-5-2 {
     margin-left: calc(2 / 5 * 100%); }
   .offset-xxl-5-3 {
     margin-left: calc(3 / 5 * 100%); }
   .offset-xxl-5-4 {
     margin-left: calc(4 / 5 * 100%); }
   /* 5 col end */
   /* 4 col */
   .offset-xxl-4-1 {
     margin-left: calc(1 / 4 * 100%); }
   .offset-xxl-4-2 {
     margin-left: calc(2 / 4 * 100%); }
   .offset-xxl-4-3 {
     margin-left: calc(3 / 4 * 100%); }
   /* 4 col end */
   /* 3 col */
   .offset-xxl-3-1 {
     margin-left: calc(1 / 3 * 100%); }
   .offset-xxl-3-2 {
     margin-left: calc(2 / 3 * 100%); }
   /* 3 col end */
   /* 2 col */
   .offset-xxl-2-1 {
     margin-left: calc(1 / 2 * 100%); }
   /* 2 col end */ }
 