@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Fleur+De+Leah&family=Inter:wght@300&family=Mansalva&family=Mystery+Quest&family=Poppins:wght@400&display=swap");
:root {
  --txtColorInfoDetails: #979797;
  --txtSizeInfoDetails: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  min-width: 100%;
  max-width: 100%;
  font-family: "Poppins";
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.txtLeft {
  text-align: left;
}

.txtRight {
  text-align: right;
}

.txtCenter {
  text-align: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

button:hover,
.btnSearch:hover,
.btnViewAll:hover,
.btnReadMore:hover {
  cursor: pointer;
}

.main {
  background-image: url("../imgs/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
  border-radius: 0px 0px 54px 54px;
}
.main .container {
  width: 80%;
  height: 100dvh;
  align-items: center;
  margin: 0 auto;
  padding: 32px 0px 120px 0px;
  justify-content: space-between;
}
.main .container .header {
  width: 100%;
}
.main .container .header #logo {
  -o-object-fit: contain;
     object-fit: contain;
}
.main .container .header .main_menu {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: #818182;
  list-style-type: none;
  padding: 0 5%;
}
.main .container .header .user {
  align-items: center;
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.main .container .header .user .user-name {
  width: 100%;
}
.main .container .header .user .user-name span,
.main .container .header .user .user-name p {
  padding-right: 5%;
}
.main .container .header .user .user-name span {
  color: #818182;
}
.main .container .header .user .user-name p {
  color: #fff;
}
.main .container .cta {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main .container .cta .cta-title {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  gap: 24px;
}
.main .container .cta button {
  background-color: #7B61FF;
  color: #fff;
  border-radius: 12px;
  padding: 2%;
  gap: 8px;
  border: none;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 4%;
}
.main .container .row {
  width: 100%;
  height: 20%;
  padding: 0 5% 0 5%;
}
.main .container .row .search-row {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 12px;
  justify-content: space-between;
  align-items: center;
}
.main .container .row .search-row .input {
  border: none;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  background: none;
}
.main .container .row .search-row .input .content {
  width: 100%;
}
.main .container .row .search-row .input .content span,
.main .container .row .search-row .input .content p {
  margin-left: 5%;
}
.main .container .row .search-row .input .content span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #979797;
}
.main .container .row .search-row .input .content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.main .container .row .search-row .btnSearch {
  background: #7B61FF;
  padding: 2.5%;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  gap: 8px;
  border: none;
  background-image: url("../imgs/icon-search.png");
  background-repeat: no-repeat;
  background-size: 40% 40%;
  background-position: center;
}

.container {
  width: 90%;
  align-items: flex-start;
  margin: 0 auto;
}
.container .title {
  padding-bottom: 64px;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
}
.container .row {
  width: 100%;
  justify-content: space-between;
}
.container .row .card {
  width: 100%;
  margin-right: 2%;
}
.container .row .card .info {
  margin-top: 5%;
}
.container .row .card .info .name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.container .row .card .info .place {
  font-size: var(--txtSizeInfoDetails);
  color: var(--txtColorInfoDetails);
  justify-content: space-between;
  align-items: center;
}
.container .row .card .info .place span {
  width: 100%;
}
.container .row .card .info .place #map {
  margin-right: 3%;
  align-items: center;
}
.container .top-container {
  width: 100%;
  justify-content: space-between;
}

.btnViewAll,
.btnReadMore {
  color: #7B61FF;
  background: #F6F4FF;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  gap: 4px;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}

.popular-destinations {
  height: 50%;
  padding: 120px 0px;
  gap: 10px;
  align-self: stretch;
}

.hotels-restaurants .place {
  margin-top: 5%;
}

.tips-advice {
  padding-bottom: 120px;
}
.tips-advice .travel-card {
  width: 48%;
  justify-content: space-between;
  align-items: center;
}
.tips-advice .travel-card .content {
  width: 45%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.tips-advice .travel-card .content .top-content {
  font-size: 22px;
  font-weight: 600;
  line-height: 34px;
}
.tips-advice .travel-card .content .center-content,
.tips-advice .travel-card .content .bottom-content {
  font-size: var(--txtSizeInfoDetails);
  color: var(--txtColorInfoDetails);
}
.tips-advice .travel-card .content .bottom-content {
  width: 100%;
}
.tips-advice .travel-card .content .bottom-content .item {
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  margin-right: 5%;
}

.about-us {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}
.about-us .col-left {
  width: 60%;
  height: 100%;
  justify-content: space-between;
}
.about-us .col-left .title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}
.about-us .col-left .content {
  padding: 4% 0 4% 0;
  color: #5B5B5B;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.hotels-restaurants,
.tips-advice,
.activities,
.about-us {
  padding-bottom: 120px;
}

.footer {
  padding: 120px 0px;
  background: #F9F9F9;
}
.footer .row {
  gap: 64px;
}
.footer .row .col-left {
  width: 40%;
  gap: 32px;
  justify-content: space-between;
}
.footer .row .col-left .row-top {
  gap: 16px;
}
.footer .row .col-left .row-top p {
  color: var(--txtColorInfoDetails);
  font-size: var(--txtSizeInfoDetails);
}
.footer .row .col-left .row-bottom {
  gap: 32px;
}
.footer .row .col-center {
  width: 50%;
  height: 100%;
  gap: 64px;
}
.footer .row .col-center ul {
  list-style-type: none;
  gap: 12px;
}
.footer .row .col-center ul li {
  color: var(--txtColorInfoDetails);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer .row .col-center p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}
.footer .row .col-center .about,
.footer .row .col-center .company,
.footer .row .col-center .support {
  height: 100%;
  gap: 20px;
  justify-content: space-between;
}
.footer .row .col-right {
  width: 40%;
  height: 100%;
  justify-content: space-between;
  gap: 20px;
}
.footer .row .col-right .row-bottom {
  justify-content: space-between;
  gap: 16px;
}
.footer .row .col-right .row-bottom .input-email-box {
  width: 70%;
  padding: 16px;
  background: #fff;
  align-items: center;
  gap: 16px;
}
.footer .row .col-right .row-bottom .input-email-box input {
  border: none;
}
.footer .row .col-right .row-bottom .input-email-box .content p {
  color: var(--txtColorInfoDetails);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer .row .col-right .row-bottom .input-email-box .input-email {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.footer .row .col-right .row-bottom button {
  padding: 24px;
  border-radius: 12px;
  background: #7B61FF;
  border: none;
}/*# sourceMappingURL=style.css.map */