.menu-header-item, 
.registerBtn {
    &:hover {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #B21E02);
    }
}
.header-content {
    // grid-template-columns: 350px auto auto;
    &__left {
        .logo {
            object-fit: contain;
        }
    }
    &__center {
        span {
            line-height: 1.4;    
        }
    }
    &__right {
        .rsrow {
            grid-template-columns: 135px 1fr;
        }
    }
}
.header-bottom {
    .srwrp {
        background-image: linear-gradient(to top right, #B21E02, #BF3E26, #FF6600, #BF442D, #FF6600, #B21E02);
        input {
            font-size: 1.2rem !important;
        }
    }
}

@media screen and (max-width: 1200px) {
    .header-content {
        &__left {
            grid-column: span 3 !important;
        }
        &__center {
            grid-column: span 5 !important;
        }
        &__right {
            grid-column: span 4 !important;
        }
    }
    .header-bottom {
        .prdsMenuBtn, .srwrp, .sc-ct {
            grid-column: span 4 !important;
        }
    }
}

@media screen and (max-width: 991px) { //change in 990
    .header-content {
        &__left, &__right {
            grid-column: span 6 !important;
        }
        &__center {
            display: none !important;
        }
        &__center-990 {
            display: flex !important;
        }
    }
    .header-bottom {
        .prdsMenuBtn {
            grid-column: span 5 !important;
        }
        .srwrp {
            grid-column: span 4 !important;
        }
        .sc-ct {
            grid-column: span 3 !important;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-content {
        &__left {
            grid-column: span 5 !important;
        }
        &__right {
            grid-column: span 7 !important;
        }
    }
    .header-bottom {
        .prdsMenuBtn, .sc-ct {
            display: none !important;
        }
        .srwrp {
            grid-column: span 12 !important;
        }
    }
    .header-bottom-768 {
        display: grid !important;
    }
}