.container {
    background-image: url(https://e0.pxfuel.com/wallpapers/468/274/desktop-wallpaper-eagle-landscape-mountains-minimalist-artist-background-and.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    p {
        color: #fff;
        font-size: 2.5rem;
        line-height: 1rem;
    }
}