@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Fleur+De+Leah&family=Inter:wght@500&family=Mansalva&family=Mystery+Quest&display=swap");
:root {
    --txtActive: #291CCB;
    --txtMenu: #6E7998;
    --txtContent: #98A0B5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
    max-width: 100%;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.font-family-Inter {
    font-family: "Inter";
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.txt-left {
    text-align: left;
}

.full-w {
    width: 100%;
}

.full-h {
    height: 100%;
}

.w-240-px {
    width: 240px;
}

.full-max-h {
    max-height: 100%;
}

.border-right-w-2 {
    border-right-width: 2px;
}

.border-right-solid {
    border-right-style: solid;
}

.border-right-light-gray {
    border-right-color: #F0F1F3;
}

.just-cont-space-between {
    justify-content: space-between;
}

.pad-20-px {
    padding: 20px;
}

.w-204-px {
    width: 204px;
}

.h-264-px {
    height: 264px;
}

.mar-top-10-px {
    margin-top: 10px;
}

.gap-4-px {
    gap: 4px;
}

.just-cont-space-around {
    justify-content: space-around;
}

.img-w-18-px {
    width: 18px;
}

.img-h-18-px {
    height: 18px;
}

.mar-right-5-percent {
    margin-right: 5%;
}

.mar-left-15-percent {
    margin-left: 15%;
}

.align-items-center {
    align-items: center;
}

.h-42-px {
    height: 42px;
}

.border-rad-8-px {
    border-radius: 8px;
}

.gap-18-px {
    gap: 18px;
}

.color--txtMenu {
    color: var(--txtMenu);
}

.bg-EDEDFC {
    background: #EDEDFC;
}

.color--txtActive {
    color: var(--txtActive);
}

.font-weight-bold {
    font-weight: bold;
}

.hoverBtn {
    cursor: pointer;
}

.hoverBtn:hover {
    background: #EDEDFC;
}

.mar-0-auto {
    margin: 0 auto;
}

.mar-bottom-3-percent {
    margin-bottom: 3%;
}

.h-142-px {
    height: 142px;
}

.h-32-px {
    height: 32px;
}

.mar-left-5-percent {
    margin-left: 5%;
}

.font-size-16-px {
    font-size: 16px;
}

.line-height-24-px {
    line-height: 24px;
}

.font-size-12-px {
    font-size: 12px;
}

.line-height-12-px {
    line-height: 12px;
}

.color-76809D {
    color: #76809D;
}

.position-relative {
    position: relative;
}

.w-100-px {
    width: 100px;
}

.h-38-px {
    height: 38px;
}

.border-rad-6-px {
    border-radius: 6px;
}

.border-w-1-px {
    border: 1px;
}

.padding-9-17-px {
    padding: 9px 17px 9px 17px;
}

.bg-fff {
    background: #fff;
}

.border-style-solid {
    border-style: solid;
}

.border-color-DBDDE5 {
    border-color: #DBDDE5;
}

.bg-4C40E6 {
    background: #4C40E6;
}

.color-fff {
    color: #fff;
}

.border-none {
    border: none;
}

.w-112-px {
    width: 112px;
}

.h-40-px {
    height: 40px;
}

.border-rad-4-px {
    border-radius: 4px;
}

.pad-9-px {
    padding: 9px;
}

.gap-14-px {
    gap: 14px;
}

.just-cont-center {
    justify-content: center;
}

.w-85-percent {
    width: 85%;
}

.content {
    height: 100%;
    padding: 2%;
}

.content .header {
    width: 100%;
    height: 36px;
}

.content .header button {
    height: 36px;
    border-radius: 6px;
    border: none;
    padding: 8px 12px 8px 12px;
}

.content .header button:hover {
    background: #EDEDFC;
}

.content .header .btnAll {
    width: 41px;
    font-family: "Inter";
}

.content .header .btnOpen {
    background: none;
    margin-left: 1%;
    width: 60px;
    color: var(--txtContent);
    font-family: "Inter";
}

.content .table-wrapper {
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-color: #F0F1F3;
    position: relative;
    width: 1152px;
    top: 12px;
    font-size: 14px;
    line-height: 20px;
    overflow-y: auto;
}

.content table thead {
    color: var(--txtContent);
    font-size: 12px;
    line-height: 16px;
    background: #F9F9FA;
    border-bottom: 2px solid #F0F1F3;
}

.content table tbody tr:ntn-child(odd) {
    background: #F9F9FA;
}

.content table th,
.content table td {
    padding: 16px 24px 16px 24px;
}

.content table td P {
    display: inline-block;
}

#test tr:nth-of-type(2n) {
    background: #F9F9FA;
}

.buy {
    color: #00632B;
}

.sell {
    color: #B01212;
}

.stt {
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
}

.openStt {
    color: #00632B;
    background: #E8FCF1;
}

.filledStt {
    color: #976400;
    background: #FFF5D5;
}

.canceledStt {
    color: #B01212;
    background: #FFEBEB;
}

.btnCancel {
    color: #B01212;
}


/*  */

.footer {
    padding: 12px 24px;
    border-top: 2px solid var(--devider);
    color: #5A6689;
    border-top: 1px solid #F0F1F3;
}

.pagination ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 20px;
    font-weight: 500;
    color: var(--cl-senary);
    cursor: pointer;
    border: 1px solid #F0F1F3;
}

.pagination ul li.active {
    background: #EDEDFC;
    border: 1px solid #291CCB;
}

.pagination ul li:has(img) {
    padding: 9px;
}

.pagination ul li:not(:has(img)) {
    padding: 9px 17px;
}