.show-block-1200,
.show-block-1400,
.show-block-768,
.show-block-480,
.show-flex-1200,
.show-flex-1400,
.show-flex-768,
.show-flex-480 {
  display: none !important;
}

@media (max-width: 1400px) {
  .show-block-1400 {
    display: block !important;
  }
  .show-flex-1400 {
    display: flex !important;
  }
  .hide-1400 {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .show-block-1200 {
    display: block !important;
  }
  .show-flex-1200 {
    display: flex !important;
  }
  .hide-1200 {
    display: none;
  }
  .main-body-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 430px;
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 1001;
  }
  .main-body-left.active {
    transform: translateX(0);
  }
  .main-body-left .header-logo-container {
    display: flex;
  }
  .main-body-left .header-logo-container .header-logo-container__left .logo-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #4d5e80;
  }
  .left-menu {
    gap: 50px;
  }
  .left-menu__item-list ul li {
    border: 2px solid #f5f6f7;
  }
  .left-menu__back-btn {
    display: block;
  }
  .sidebar__project {
    background-color: #f7f8fa;
  }
  .sidebar__main-menu .main-menu-header {
    background-color: #3361ff;
  }
  .sidebar__main-menu .main-menu-header__left span {
    color: #fff !important;
  }
}
@media (max-width: 1040px) {
  .hide-1040 {
    display: none !important;
  }
}
@media (max-width: 830px) {
  .content__right-content .right-content__head {
    padding: 20px 15px;
  }
  .content__right-content .right-content__head .head-left,
  .content__right-content .right-content__head .head-right {
    display: flex;
    gap: 5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content {
    gap: 20px;
    padding: 20px 15px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left {
    gap: 15px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__content-head {
    flex-direction: column;
    gap: 0;
    padding-left: 55px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left-avatar {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__main-content .main-content__img-container {
    margin: 0 -5px;
    margin-bottom: -5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__main-content .main-content__img-container .img-container__img-item {
    padding: 0 5px;
    margin-bottom: 5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-right {
    position: absolute;
    top: 0;
    right: 0;
    gap: 0;
  }
  .content__right-content .right-content__input-form {
    padding: 15px 20px;
  }
  .content__right-content .right-content__input-form .input-form__left-utils {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .show-block-768 {
    display: block !important;
  }
  .show-flex-768 {
    display: flex !important;
  }
  .content {
    overflow: hidden;
  }
  .content__sidebar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: 0.3s ease;
    z-index: 1;
  }
}
@media (max-width: 640px) {
  .hide-640 {
    display: none !important;
  }
  .header .header-right__utils {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  :root {
    --content-padding: 15px;
  }
  .show-block-480 {
    display: block !important;
  }
  .show-flex-480 {
    display: flex !important;
  }
  .hide-480 {
    display: none !important;
  }
  .content__right-content .right-content__head {
    padding: 20px 15px;
  }
  .content__right-content .right-content__head .head-left,
  .content__right-content .right-content__head .head-right {
    display: flex;
    gap: 5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content {
    gap: 20px;
    padding: 20px 15px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left {
    gap: 15px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__content-head {
    flex-direction: column;
    gap: 0;
    padding-left: 55px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left-avatar {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__main-content .main-content__img-container {
    margin: 0 -5px;
    margin-bottom: -5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-left .item-left__main-content .main-content__img-container .img-container__img-item {
    padding: 0 5px;
    margin-bottom: 5px;
  }
  .content__right-content .right-content__chat-box .chat-box-content__item-right {
    position: absolute;
    top: 0;
    right: 0;
    gap: 0;
  }
  .content__right-content .right-content__input-form {
    padding: 15px 20px;
  }
  .content__right-content .right-content__input-form .input-form__left-utils {
    gap: 15px;
  }
  .content__sidebar {
    width: 100%;
  }
}
@media (max-width: 430px) {
  .hide-430 {
    display: none !important;
  }
}
@media (max-width: 360px) {
  .hide-360 {
    display: none !important;
  }
}/*# sourceMappingURL=responsive.css.map */