@media only screen and (max-width: 768px) {
    header {
        img {
            display: none;
        }
        .add-box {
            width: 100% !important;
            display: flex !important;
            flex-direction: row !important;
            justify-content: space-around !important;
            padding: 0 !important;
            #myInput {
                padding: 2px !important;
            }
            .start-time-box,
            .end-time-box {
                padding-left: 5px !important;
                padding-right: 0px !important;
                gap: 0px !important;
                input {
                    width: 100%;
                }
            }
            .addBtn {
                width: 50px !important;
            }
        }
        .time-box {
            display: none;
        }
    }
    .content-container {
        display: flex !important;
        flex-direction: column !important;
        padding: 5% !important;
        .to-do-wrapper {
            order: 1;
        }
        .doing-wrapper {
            order: 2;
        }
        .done-wrapper {
            order: 3;
        }
    }
}